.main__section {
  background-color: #271a58;
  height: 100vh;
  padding-left: calc(50% - 550px);
  padding-right: calc(50% - 550px);
  padding-top: 30px;
}
.head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}
.text__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__text {
    color:  #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 23px */
    letter-spacing: -0.05px;
    opacity: 0.5;
}
.main__title {
    color: #F4F4FF;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: StratosSkyeng;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 91.5%; /* 54.9px */
    letter-spacing: -1.169px;
    padding-top: 17px;
    margin-bottom: 74px;
}
