@font-face {
  font-family: 'StratosSkyeng';
  src: url('assets/fonts/stratosskyengweb-regular.woff') format('woff'),
    url('assets/fonts/stratosskyengweb-regular.woff2') format('woff2');
}

body {
  font-family: 'StratosSkyeng', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}